
.a {
  font-size: 1.6em;
  text-align: center;
  color: : red;
}

/*********desktop**********/
media (min-width: 1200px) {
  .container {
    width: 750px;
  }
}
/***********tablet**********/
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
/*********mobile*********/
@media (min-width: 768px) {
  .container {
    width: 1170px;
  }
}
